/* Put variables you want to use EVERYWHERE here */

$primary: #e3e3e3;
$secondary: #663333;

/* Styles that apply to ALL pages go here */

body {
  background-color: $primary;
  color: $secondary;
}
